<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alz_jaime">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlzJaime">
        <activity android:name=".Calificacion"
            android:label="@string/ti_calif"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pages" />
        <activity
            android:name=".Alarmas"
            android:label="@string/ti_Alarmas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreguntasFrecuentes"
            android:label="@string/ti_preguntas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TerminosCondiciones"
            android:label="@string/ti_termycon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistroMedico"
            android:label="@string/ti_registromed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DayAlarm"
            android:label="@string/ti_configurar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EditAlarma"
            android:label="@string/ti_configurar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditPersonaAcargo"
            android:label="@string/ti_Persona"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonasAcargo"
            android:label="@string/ti_Persona"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfCont"
            android:label="@string/ti_configurar"
            android:screenOrientation="portrait" />
        <activity android:name=".M" />
        <activity android:name=".Contacto" />
        <activity
            android:name=".Principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/Theme.AlzJaime.NoActionBar" />
        <activity
            android:name=".EditPerfil"
            android:label="@string/mh_usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Llamada"
            android:label="Emergencia" />
        <activity
            android:name=".recuperarPassword"
            android:label="@string/txv_recuperar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newPassword"
            android:label="@string/ti_recuperar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".codigoPassword"
            android:label="@string/ti_recuperar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registrarse"
            android:label="@string/bt_registrarse"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:label="@string/ti_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>